.parent-element {
    position: relative;
}

.child-element-centered {
    margin: 0;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
