/* Aproach 1 */
.element-need-to-be-centered {
    margin: 0 auto;
    width: 100%;
}

/* Aproach 2 */
.parent-element {
    position: relative;
}

.child-element-centered {
    margin: 0;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
